<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#시간당-조회수-/-시간당-댓글수" data-toc-modified-id="시간당-조회수-/-시간당-댓글수-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>시간당 조회수 / 시간당 댓글수</a></span></li></ul></div>

In [203]:
import pandas as pd
import re
import konlpy
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager, rc
import numpy as np
from tqdm import tqdm
import urllib.request
import warnings
warnings.filterwarnings("ignore")

In [204]:
df = pd.read_excel('./data/더쿠.xlsx')

In [205]:
from konlpy.tag import Hannanum

hannanum = Hannanum()
okt = konlpy.tag.Okt()

def text_preprocess(x):
    text=[]
    a = re.sub('[^가-힣0-9a-zA-Z\\s]', '',x)
    for j in a.split():
        text.append(j)
    return ' '.join(text)

def tokenize(x):
    text = []
    tokens = okt.pos(x)
    for token in tokens :
        #if token[1] == 'Adjective' or token[1]=='Adverb' or token[1] == 'Noun' or token[1] == 'Verb' or 'Unknown':
        if token[1] == 'Noun' :
            if len(token[0])>1:
                text.append(token[0])
    return text

In [206]:
def get(x):
    result=""
    for i in x:
        if len(i)>1:
            
            i=i.replace("jpg","")
            if "갤" in i:
                continue
            result=result+" "+i
    return result

In [207]:
df

,Unnamed: 0,제목,날짜,조회수,댓글수,게시물 번호
0,0,요소수의 중요성.jpg,19:20,109,0,2049480
1,1,과천 주공 5단지 재건축 조감도.jpg,19:20,69,2,2049479
2,2,악마도 보고 자살했다는 보험사,19:17,1421,34,2049478
3,3,예전에 그알에 나왔던 중고사기 수법,19:17,228,0,2049477
4,4,쇼미더머니10 7회예고 팀 디스 배틀&본선 1차,19:16,78,1,2049476
...,...,...,...,...,...,...
215,215,"조병규 '죽어도 다시 한번' 촬영 중 근황, 아이콘 구준회와 절친 케미",15:53,3374,32,2049265
216,216,샤이니 민호 인스타업뎃,15:51,1413,25,2049264
217,217,예쁜 여자 보고 갈래?,15:50,1302,7,2049263
218,218,최근 스타일리스트 바꿨다는 헤일리 비버,15:49,5052,49,2049262
219,219,LACMA 참석한 이정재 임세령 커플,15:49,7080,50,2049261

In [208]:
df['token'] = df['제목'].apply(lambda x : text_preprocess(x))
df['token']=df['token'].apply(lambda x : hannanum.nouns(x))
#df['token'] = df['token'].apply(lambda x: tokenize(x))
df['data']=df['token'].apply(lambda x: get(x))

In [209]:
df

,Unnamed: 0,제목,날짜,조회수,댓글수,게시물 번호,token,data
0,0,요소수의 중요성.jpg,19:20,109,0,2049480,"[요소수, 중요성jpg]",요소수 중요성
1,1,과천 주공 5단지 재건축 조감도.jpg,19:20,69,2,2049479,"[과천, 주공, 5단지, 재건축, 조감도jpg]",과천 주공 5단지 재건축 조감도
2,2,악마도 보고 자살했다는 보험사,19:17,1421,34,2049478,"[악마, 자살, 보험사]",악마 자살 보험사
3,3,예전에 그알에 나왔던 중고사기 수법,19:17,228,0,2049477,"[예전, 그알, 중고사기, 수법]",예전 그알 중고사기 수법
4,4,쇼미더머니10 7회예고 팀 디스 배틀&본선 1차,19:16,78,1,2049476,"[쇼미더머니10, 7회예, 팀, 디스, 배틀본선, 1차]",쇼미더머니10 7회예 디스 배틀본선 1차
...,...,...,...,...,...,...,...,...
215,215,"조병규 '죽어도 다시 한번' 촬영 중 근황, 아이콘 구준회와 절친 케미",15:53,3374,32,2049265,"[조병규, 한번, 촬영, 중, 근황, 아이콘, 구준회, 절친, 케미]",조병규 한번 촬영 근황 아이콘 구준회 절친 케미
216,216,샤이니 민호 인스타업뎃,15:51,1413,25,2049264,"[샤이니, 민호, 인스타업뎃]",샤이니 민호 인스타업뎃
217,217,예쁜 여자 보고 갈래?,15:50,1302,7,2049263,"[여자, 갈래]",여자 갈래
218,218,최근 스타일리스트 바꿨다는 헤일리 비버,15:49,5052,49,2049262,"[스타일리스트, 헤일리, 비버]",스타일리스트 헤일리 비버
219,219,LACMA 참석한 이정재 임세령 커플,15:49,7080,50,2049261,"[참석, 이정재, 임세령, 커플]",참석 이정재 임세령 커플

In [210]:
#df['data']=df['token']

In [211]:
vocab=list(set(w for doc in df['data'] for w in doc.split()))
vocab.sort()

In [212]:
N=len(df)

def tf(t, d):
    return d.count(t)

def df_(t):
    d=0
    for doc in df['data']:
        d += t in doc
    return d

def tfidf(t, d):
    return tf(t, d)*idf(t)

In [213]:
result=[]
for i in range(N):
    result.append([])
    d=df.loc[i,'data']
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t,d))
tf_ = pd.DataFrame(result, columns = vocab)
tf_

,10명,11,11월,11일,12월1,14화,15만원꼭,1725cm,19시,1개,...,확실했다1R,환생,환호,활용,회사,후배그룹,훠궈,흉기,흥미로운,힐링펭수
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
216,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
217,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
218,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
219,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [214]:
result=[]
for i in range(len(vocab)):
    t=vocab[i]
    result.append(df_(t))
df_=pd.DataFrame(result, index=vocab, columns=['DF'])
df_

      DF
10명    2
11     5
11월    3
11일    1
12월1   2
...   ..
후배그룹   1
훠궈     1
흉기     1
흥미로운   1
힐링펭수   1

[867 rows x 1 columns]

In [215]:
df_=df_.sort_values(by=['DF'],ascending=False)
df_

      DF
드라마   11
이유    10
아이    10
아이돌    7
20     6
...   ..
베이징    1
베프     1
변신     1
별그램    1
힐링펭수   1

[867 rows x 1 columns]

In [216]:
df_.head(50)

       DF
드라마    11
이유     10
아이     10
아이돌     7
20      6
인스타     6
공개      6
고양이     6
요소수     5
영화      5
11      5
컴백      4
근황      4
라이브     4
한국      4
영상      4
사진      4
단독      4
1차      4
방송      4
사람      4
신상      3
펭수      3
덬들      3
일본      3
캐시워크    3
가을      3
특집      3
오늘      3
발표      3
예고      3
그룹      3
전문      3
시간      3
런닝맨     3
것       3
오해      3
배우      3
커플      3
멤버      3
삼성      3
11월     3
대형      3
민호      3
취사병     3
이번주     3
업뎃      3
노래      3
대만드라마   2
이정재     2

In [217]:
# result=[]
# for i in range(N):
#     result.append([])
#     d=df.loc[i,'data']
#     for j in range(len(vocab)):
#         t = vocab[j]
#         result[-1].append(tfidf(t,d))
# tfidf_=pd.DataFrame(result, columns=vocab)
# tfidf_

# 시간당 조회수 / 시간당 댓글수

In [218]:
# 현재시간 

import datetime

now = datetime.datetime.now()
now

datetime.datetime(2021, 11, 19, 2, 12, 21, 123452)

In [219]:
# 포스팅 시간
post = []
post = pd.to_datetime(df['날짜'])
post

0     2021-11-19 19:20:00
1     2021-11-19 19:20:00
2     2021-11-19 19:17:00
3     2021-11-19 19:17:00
4     2021-11-19 19:16:00
              ...
215   2021-11-19 15:53:00
216   2021-11-19 15:51:00
217   2021-11-19 15:50:00
218   2021-11-19 15:49:00
219   2021-11-19 15:49:00
Name: 날짜, Length: 220, dtype: datetime64[ns]

In [220]:
diff = (post-now).astype('timedelta64[h]').astype(int)
diff

0      17
1      17
2      17
3      17
4      17
       ..
215    13
216    13
217    13
218    13
219    13
Name: 날짜, Length: 220, dtype: int32

In [221]:
# 중간에 1.6만 등 문자열 끼어있음.......... 수정........

try :
    temp = df[df['조회수'].str.contains('만')]['조회수'].str.replace("만", "")
    temp = temp.apply(lambda x: float(x))*10000
except AttributeError : 
    pass

In [223]:
idx = temp.index

In [231]:
df.loc[idx, '조회수'] = temp
df['조회수']

0       109
1        69
2      1421
3       228
4        78
       ...
215    3374
216    1413
217    1302
218    5052
219    7080
Name: 조회수, Length: 220, dtype: object

In [225]:
df['댓글수'].isnull().sum()

0

In [226]:
try :
    temp = df[df['댓글수'].str.contains('만')]['댓글수'].str.replace("만", "")
    temp = temp.apply(lambda x: float(x))*10000
except AttributeError : 
    pass

In [227]:
df['조회수'].astype('float')

0       109.0
1        69.0
2      1421.0
3       228.0
4        78.0
        ...
215    3374.0
216    1413.0
217    1302.0
218    5052.0
219    7080.0
Name: 조회수, Length: 220, dtype: float64

In [229]:
df['조회수h'] = df['조회수'].astype('int')/diff
df['댓글h'] = df['댓글수'].astype('int')/diff

In [230]:
df

,Unnamed: 0,제목,날짜,조회수,댓글수,게시물 번호,token,data,조회수h,댓글h
0,0,요소수의 중요성.jpg,19:20,109,0,2049480,"[요소수, 중요성jpg]",요소수 중요성,6.411765,0.000000
1,1,과천 주공 5단지 재건축 조감도.jpg,19:20,69,2,2049479,"[과천, 주공, 5단지, 재건축, 조감도jpg]",과천 주공 5단지 재건축 조감도,4.058824,0.117647
2,2,악마도 보고 자살했다는 보험사,19:17,1421,34,2049478,"[악마, 자살, 보험사]",악마 자살 보험사,83.588235,2.000000
3,3,예전에 그알에 나왔던 중고사기 수법,19:17,228,0,2049477,"[예전, 그알, 중고사기, 수법]",예전 그알 중고사기 수법,13.411765,0.000000
4,4,쇼미더머니10 7회예고 팀 디스 배틀&본선 1차,19:16,78,1,2049476,"[쇼미더머니10, 7회예, 팀, 디스, 배틀본선, 1차]",쇼미더머니10 7회예 디스 배틀본선 1차,4.588235,0.058824
...,...,...,...,...,...,...,...,...,...,...
215,215,"조병규 '죽어도 다시 한번' 촬영 중 근황, 아이콘 구준회와 절친 케미",15:53,3374,32,2049265,"[조병규, 한번, 촬영, 중, 근황, 아이콘, 구준회, 절친, 케미]",조병규 한번 촬영 근황 아이콘 구준회 절친 케미,259.538462,2.461538
216,216,샤이니 민호 인스타업뎃,15:51,1413,25,2049264,"[샤이니, 민호, 인스타업뎃]",샤이니 민호 인스타업뎃,108.692308,1.923077
217,217,예쁜 여자 보고 갈래?,15:50,1302,7,2049263,"[여자, 갈래]",여자 갈래,100.153846,0.538462
218,218,최근 스타일리스트 바꿨다는 헤일리 비버,15:49,5052,49,2049262,"[스타일리스트, 헤일리, 비버]",스타일리스트 헤일리 비버,388.615385,3.769231
219,219,LACMA 참석한 이정재 임세령 커플,15:49,7080,50,2049261,"[참석, 이정재, 임세령, 커플]",참석 이정재 임세령 커플,544.615385,3.846154